<div class="text-center text-success">
<ul class="text-white">
    <li>ID:{{dataObj.id}}</li>
    <li>SOL:{{dataObj.sol}}</li>
    <li>CAMERA:</li>
       <ul class="text-white">
         <li>ID:{{dataObj.camera.id}}</li>
         <li>NAME:{{dataObj.camera.name}}</li>
         <li>ROVER_ID:{{dataObj.camera.rover_id}}</li>
         <li>FULL_NAME:{{dataObj.camera.full_name}}</li>
    </ul>
    <li>EARTH_DATE:{{dataObj.earth_date}}</li>
    <li>ROVER</li>
       <ul class="text-white">
         <li>ID:{{dataObj.rover.id}}</li>
         <li>NAME:{{dataObj.rover.name}}</li>
         <li>LANDING_DATE:{{dataObj.rover.landing_date}}</li>
         <li>LAUNCH_DATE:{{dataObj.rover.launch_date}}</li>
         <li>STATUS:{{dataObj.rover.status}}</li>
    </ul>
  </ul>
  </div>
         
         