<div class="bg-dark">
  <table class="table text-info text-center">
      <thead>
          <tr>
              <th>IMAGE</th>
              <th>ID</th>
          </tr>
      </thead>
  
      <tbody>
          <tr *ngFor="let dataObj of photos">
            <td><img src="{{dataObj.img_src}}" width=100px height=100px></td>
              <td>
                 <button class="btn btn-sm btn-danger"  (click)="onSelectId(dataObj.id)">{{dataObj.id}}</button></td>
              </tr>
      </tbody>
  </table>
</div>

